---
- name: Create data directory
  file:
    path: '{{ docker_host_config_root }}/data'
    state: directory
    owner: root
    group: root
    mode: '0777'

- name: Create original and hls directories
  file:
    path: '{{ docker_host_config_root }}/data/{{ item }}'
    state: directory
    owner: root
    group: root
    mode: '0777'
  loop:
    - original
    - hls

- name: Create FFmpeg build directory
  file:
    path: '{{ docker_host_config_root }}/containers/ffmpeg/build'
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Copy worker entrypoint script
  copy:
    src: './containers/ffmpeg/files/worker-entrypoint.sh'
    dest: '{{ docker_host_config_root }}/containers/ffmpeg/build/worker-entrypoint.sh'
    owner: root
    group: root
    mode: '0755'

- name: Create FFmpeg Dockerfile
  template:
    src: './containers/ffmpeg/templates/Dockerfile.j2'
    dest: '{{ docker_host_config_root }}/containers/ffmpeg/build/Dockerfile'
    owner: root
    group: root
    mode: '0644'

- name: Build FFmpeg image with Node.js
  docker_image:
    name: local/ffmpeg
    build:
      path: '{{ docker_host_config_root }}/containers/ffmpeg/build'
    source: build
    force_source: yes

- name: Create FFmpeg worker container
  docker_container:
    name: ffmpeg
    image: local/ffmpeg
    recreate: yes
    state: started
    restart_policy: always
    networks:
      - name: local-network
    log_driver: journald
    log_options:
      tag: "{{ '{{' }}.ImageName{{ '}}' }}/{{ '{{' }}.Name{{ '}}' }}/{{ '{{' }}.ID{{ '}}' }}"
    volumes:
      - '{{ app_worker_path }}:/app'  # Worker scripts directory
      - '{{ docker_host_config_root }}/data:/data'
    env:
      VIDEO_QUEUE_REDIS_URL: "redis://{{ docker_container_redis }}:6379/1"
      DATA_DIR: "/data"
      REDIS_HOST: "{{ docker_container_redis }}"
      REDIS_PORT: "6379"
