- hosts: all
  become: true
  vars_files:
    - vars/main.yml

  vars:
    # 
    # 注意: hostlistの値を使う場合はコメントアウトすること
    #
    default_domain_name: 'example.com'
    certbot_enabled: false  # Certbot機能の有効化/無効化
    # certbot_test_cert: 1  # Certbot実行モード(0=正式モード,1=テストモード)
    # certbot_email: 'admin@example.com'  # Let's Encrypt連絡受信用

  roles:
    # Docker environment
    - geerlingguy.docker

  tasks:
    - name: Install minimal command
      package:
        name:
          - zip
          - unzip
          - inotify-tools
          - mailutils # for email test

    - name: Create Japanese environment
      import_tasks: ./tasks/japanese.yml

    #
    # Create Docker container network
    #
    - name: Create a network
      docker_network:
        name: local-network

    - name: Create Docker container(redis)
      import_tasks: ./tasks/redis.yml

    # - name: Create Docker container(mariadb)
    #   import_tasks: ./tasks/mariadb.yml

    - name: Create Docker container(nginx)
      import_tasks: ./tasks/nginx.yml

    - name: Create Docker container(certbot)
      import_tasks: ./tasks/certbot.yml
      when: certbot_enabled | default(true)

    - name: Deploy Application
      import_tasks: ./tasks/app.yml

    - name: Create Docker container(nodejs)
      import_tasks: ./tasks/nodejs.yml

    - name: Create Docker container(ffmpeg)
      import_tasks: ./tasks/ffmpeg.yml

    - name: Initialize Certbot
      shell: docker container start certbot
      when: certbot_enabled | default(true)

    - name: Restart nginx container to apply all changes
      docker_container:
        name: "{{ docker_container_nginx }}"
        restart: yes
